<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{lang:}" lang="{lang:}">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Heleno Campos, Assistant Professor at PESC/COPPE/UFRJ" />
    <meta name="keywords" content="Heleno de Souza Campos Junior, Heleno Campos, UFRJ, COPPE, PESC, UFF, Instituto de Computação, UFJF, software engineering, software merge, software testing" />
    <meta name="author" content="Heleno de Souza Campos Junior" />
    <meta name="generator" content="webgen - http://webgen.rubyforge.org" />
    <link rel="stylesheet" type="text/css" href="{relocatable: andreas01.css}" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="{relocatable: print.css}" media="print" />
    <title>{title:}</title>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q4FDFLNKS9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q4FDFLNKS9');
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>

  <body>
    <div id="wrap">
      <table id="frontphoto" align="center" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <!-- Logo vertical (1417x1815): dimensionado pela altura, senao os 140px
                 de largura do logo antigo esticariam o cabecalho para ~180px. -->
            <a href="https://www.cos.ufrj.br"><img style="height: 110px" hspace="20" vspace="10" alt="Logo PESC/Coppe/UFRJ" src="{relocatable: images/pesc.png}"></a>
          </td>
          <td width="100%">
            <big><strong>Heleno de Souza Campos Junior</strong></big> (a.k.a. Heleno Campos)<br>
            Assistant Professor, <a href="https://www.cos.ufrj.br/">PESC</a>/<a href="https://www.coppe.ufrj.br/">COPPE</a>/<a href="https://ufrj.br/">UFRJ</a><br>
            Postdoctoral Researcher, <a href="http://www.ic.uff.br/">IC</a>/<a href="http://www.uff.br/">UFF</a><br>
            D.Sc., <a href="http://www.ic.uff.br/">IC</a>/<a href="http://www.uff.br/">UFF</a>, 2025<br>
            M.Sc., <a href="http://www.ufjf.br/pgcc/">PGCC</a>/<a href="http://www.ufjf.br/">UFJF</a>, 2018<br>
            B.Sc., <a href="http://www.jf.ifsudestemg.edu.br">Campus Juiz de Fora</a>/<a href="https://www.ifsudestemg.edu.br">IF Sudeste MG</a>, 2016
          </td>
          <td>
            <img style="width: 100px;" alt="Picture" hspace="20" vspace="10" src="{relocatable: images/face.jpg}">
          </td>
        </tr>
      </table>

      <div id="leftside">
        <h2 class="hide">Menu:</h2>
        <div class="avmenu">{menu: {options: {sort: true, mi: {in_menu: true}, siblings: [0,-1]}}}</div>
      </div>

      <div id="contentwide">
        <webgen:block name="content" />
      </div>

      <div id="footer">
        Generated by <a href="http://webgen.rubyforge.org">webgen</a> | Design by <a href="http://andreasviklund.com">Andreas Viklund</a>
      </div>
    </div>
  </body>
</html>
